<!DOCTYPE html>

<html>
<head>
  <title>Which wargame faction?</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css" />
  <!--[if lt IE 9]>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
  <![endif]-->

  <link rel="stylesheet" href="./css/styles.css">
  
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
</head>

<body ng-app="wargameApp">
  <a class="github-fork-ribbon" href="https://github.com/whichwargamefaction/whichwargamefaction.github.io" title="Fork me on GitHub">Fork me on GitHub</a>
  <div ng-controller="ArmyController">
    <form class="form-inline">
      <input ng-model="searchText" type="text"
        placeholder="Filter by" autofocus>
    </form>
    
    <table>
      <tr>
        <th>Manufacturer</th>
        <th>Univers</th>
        <th>Faction</th>
        <th>Name</th>
        <th>Price</th>
        <th>Number of Miniatures</th>
        <th>Price per Miniature</th>
        <th>Strategy Type</th>
        <th>Theme</th>
      </tr>
      <tr ng-repeat="army in armies | filter: searchText | orderBy: ['manufacturer', 'univers', 'faction', 'name'] ">
        <td>{{ army.manufacturer }}</td>
        <td>{{ army.univers }}</td>
        <td>{{ army.faction }}</td>
        <td>{{ army.name }}</td>
        <td>${{ army.priceDollars }}</td>
        <td>{{ army.numberOfMiniatures }}</td>
        <td>${{ army.priceDollars / army.numberOfMiniatures | number: 2 }}</td>
        <td>{{ army.strategyType }}</td>
        <td>{{ army.theme }}</td>
      </tr>
    </table>
  </div>

  <script src="./js/main.js"></script> 
</body>
</html>